*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(Denali5.avif);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #d4d4d4;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    color: #d4d4d4;
    padding: 20px;
    display: block;
    font-size: 18px;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #727272;
    transition: 0.5s;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
    border-radius: 6px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content{
    text-align: center;
}

.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.header-content p{
    font-size: 16px;
    color: azure;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: #5e5e5e;
    color: #f9fafc;
    text-transform: uppercase;
}

.btn-1:hover{
    background-color: #ffffff;
    color: #000000;
    transition: 0.5s;
}

.intro{
    padding: 100px 0;
    background-color: #030111;
    position: relative;
}

.intro-content {
    text-align: center;
}

.intro-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #ffffff;
    text-transform: uppercase;
    pad: 0 250px;
    margin-bottom: 15px;
}

.txt-p{
    font-size: 16px;
    color: #cbd3ff;
    pad: 0 250px;
    margin-bottom: 35px;
}

.intro-grup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.intro-1 img {
    width: 200px;
}

.intro-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.intro p{
    color: #ffffff;
}
